---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";
import profilePicture from "assets/giacomo-sepe.png";
import { Icon } from "astro-icon";

const experiences = [
  {
    name: "A (short) bio",
    icon: "mdi:check",
    description:
      "In my early career I worked as customer service manager and sales for private equity funds. After the MBA at Columbia, I moved to private equity investment management. And after that I pursued a more entrepreneurial career. This all story led to where I am now, at the crossroads of project management, capital raising and investment analysis.",
  },
  {
    name: "I am on a mission",
    icon: "mdi:check",
    description:
      "I am interested in building great products that make a difference for investors and for the audience they cater to. My job is to build a business case, find financial resources, deploy them wisely and monitor results. I have this several times and for me it is the most rewarding job as when successful I feel useful to both investors and customers.",
  },
  {
    name: "Activities I do",
    icon: "mdi:check",
    description:
      "I research industries trying to understand customers, niches, markets and competitors. I write documents, articles, reports. 📝 I write Product Requirement Docs, capital raising presentations, research documents. 📈 I also write and read business plans, business models, financial projections. 🏦  Finally, I approach and involve investors and I scout for other financial resources to support projects with adequate capital.",
  },
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Some info about myself</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Italy raised and US educated, I currently live in Milano. I am a product
        consultant and I help shareholders of medium companies finance and
        develop digital products and services. I also support them on
        acquisitions of existing tech businesses.
      </p>
    </div>
    <div
      class="grid md:grid-cols-[2fr,1fr] gap-10 mx-auto max-w-4xl mt-12 mb-12">
      <div class="w-full aspect-square">
        <ul>
          {
            experiences.map((exp) => (
              <li>
                <div class="flex mt-5">
                  <Icon
                    class="pb-2 mr-3 text-gray-500"
                    name={exp.icon}
                    width="20"
                  />

                  <h3 class="font-semibold text-xl text-gray-500 mb-1">
                    <span />
                    {exp.name}
                  </h3>
                </div>
                <p class="text-slate-500 ml-9">{exp.description}</p>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-4 pb-0 text-center">
        <Picture
          src={profilePicture}
          alt="Giac the astronaut"
          widths={[200, 400]}
          aspectRatio="3:4"
          sizes="(max-width: 500px) 100vw, 620px"
          loading="eager"
          format="png"
        />
      </div>
    </div>
    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-4xl mt-1">
      <div class="mt-4 mb-2">
        <div class="text-center mb-10">
          <h2 class="text-2xl text-gray-500 font-bold">Current engagement</h2>
          <h3 class="text-sm text-slate-400 font-semibold">
            Investment advisor
          </h3>
        </div>
        <!-- <br class="w-full aspect-square" /> -->

        <div class="text-lg leading-relaxed text-slate-500 mb-5">
          <p class="text-lg leading-relaxed text-slate-500">
            I am working with Smartbox 🏅 to find investment opportunities for a
            corporate venture project. In 2022 I was advising a Suisse Family
            office to dispose and refocus their Italian real estate portfolio.
            Before that, I have advised Italian familiy office on thier
            portfolio compamies.
          </p>
        </div>
        <p class="text-lg leading-relaxed text-slate-500">
          I see myself as a jack of all trades as I have developed different skills and been exposed to different industries with an entrepreneurial mindset. I have therefore developed a close and reliable network of specialists to get help when there is need of specific knowledge. For incentives and financing I have made a partnership 👬   with Claudio
          Calvani and Matteo Bellina at
          <a class="text-lime-700/75" href="https://vva.it"
            >Valdani e Vicari Debt & Grants</a
          >
          well known advisors to companies on debt and incentives. For diigital pr and communication I made an agreement with <a
            class="text-purple-700/50"
            href="https://neon2020.com">Neon</a
          > communication agency specialized in building audience communication channels.
        </p>
      </div>
    </div>
  </Container>
</Layout>
