---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";
import profilePicture from "assets/giacomo-sepe.png";
import { Icon } from "astro-icon";

const experiences = [
  {
    name: "test 1",
    icon: "mdi:check",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, praesentium sunt hic modi veritatis molestiae nulla accusamus a perspiciatis consequatur!L",
  },
  {
    name: "test 2",
    icon: "mdi:check",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, praesentium sunt hic modi veritatis molestiae nulla accusamus a perspiciatis consequatur!L",
  },
  {
    name: "test 3",
    icon: "mdi:check",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, praesentium sunt hic modi veritatis molestiae nulla accusamus a perspiciatis consequatur!L",
  },
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Il mio resume.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Astro.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
    </div>
    <div class="grid md:grid-cols-[2fr,1fr] gap-10 mx-auto max-w-4xl mt-12">
      <div class="w-full aspect-square">
        <ul>
          {
            experiences.map((exp) => (
              <li>
                <div class="flex mt-5 align-middle">
                  <Icon
                    class="pb-2 mr-3 text-gray-500"
                    name={exp.icon}
                    width="15"
                  />
                  <h3 class="font-semibold text-xl text-gray-500 mb-1">
                    <span />
                    {exp.name}
                  </h3>
                </div>

                <p class="text-slate-500">{exp.description}</p>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-4 text-center">
        <Picture
          src={profilePicture}
          alt="Giac the astronaut"
          widths={[500, 700]}
          aspectRatio="3:4"
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="avif, png"
        />
      </div>

      <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-4xl mt-6">
        <div class="mt-4 text-center">
          <h2 class="text-lg text-gray-800">name</h2>
          <h3 class="text-sm text-slate-500">title</h3>
        </div>
        <div class="w-full aspect-square">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
            praesentium sunt hic modi veritatis molestiae nulla accusamus a
            perspiciatis consequatur!
          </p>
        </div>
      </div>
    </div>
  </Container>
</Layout>
