---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Sustainable hospitality investment advisory",
    description:
      "Assisted Smartbox in scouting and acquiring nature-immersed projects to offer their customers more sustainable hospitality.",
    icon: "bx:bxs-tree",
  },
  {
    title: "Sustainable real estate investment advisory ",
    description:
      "Assisted family office De Picciotto in scouting for new projects to increase toursim and hospitality business in Southern Italy.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Portfolio company management and M&A",
    description:
      "Assisted family office IPE Holding in developing digital business for subsidiary Cotolicious, food processing and devlivery company.",
    icon: "bx:bxs-bowl-hot",
  },
  {
    title: "Capital raising for Private Equity fund",
    description:
      "Worked with Idea Capital to develop international investor network and pitch new fund to large family offices and funds of funds.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Capital raising for PE family office",
    description:
      "Supported private equity manager EQValue in acquiring investors to make minority investments in SMEs with ticket size of about €1.5 mln.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Product management",
    description:
      "Supported Simmetrico, media company, in developing new product witihn the exhibitions industry and negotiate with investors-distributors to acquire the rights.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Projects I have worked on include capital raising, investment advisory and
    company management
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    In the past few years I have helped entrepreneurs and investers build
    innovative and sustainable businesses by identifying financial resources, by
    scouting investment opportunities and by managing portfolio companies. I
    strongly believe in constant education and in transitioning to a digital,
    sustainable, and lean way of working.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
