<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Built with Astro 2.0 Â© | <span id="copyright">
      {new Date().getFullYear()}
    </span>
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made on the <span>Astroship starter</span>
  </p>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
